section {
  border: 4px solid green;
  border-radius: 10px;
  box-shadow: 5px 5px 5px green;
  float: left;
  height: 360px;
  padding: 20px;
  margin: 10px;
}
label {
  color: purple;
}
input {
  color: blue;
}
#plotSettings {
  width: 170px;
  background-color: lightgreen;
}
button {
  width: 100px;
  color: white;
  background-color: violet;
  border-radius: 25px;
}
#plot {
  width: 550px;
}
